<h1>Pets</h1>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Species</th>
      <th>Breed</th>
      <th>Owner name</th>
      <th>Date of birth</th>
    </tr>
  </thead>
  <tbody>
    <% Pet.by_species("dog").each do |pet| %>
      <tr>
        <td><%= link_to pet.name, pet_path(pet) %></td>
        <td><%= pet.species %></td>
        <td><%= pet.breed %></td>
        <td><%= link_to "#{pet.owner.first_name} #{pet.owner.last_name}", owner_path(pet.owner) %></td>
        <td><%= formatted_date(pet.date_of_birth) %></td>
      </tr>
    <% end %>
  </tbody>
</table>